<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Post:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <div class="rowxx">

        <!-- content -->
        <div class="contentxx col-lg-12xx">
            <!-- Blog -->
            <div id="blog" class="single-post">
                <!-- Post single item-->
                <div class="post-item">
                    <div class="post-item-wrap">
                        <div class="post-image">
                            <img alt="" src="{f:uri.image(image:post.images.0, width:1200, height:'400c')}">
                        </div>

                        <div class="frame-layout-0">
                            <div class="container col-lg-12">
                                <div class="post-item-description margin-top">
                                    <h1>{post.title}</h1>
                                    <div class="post-meta">
                                        <span class="post-meta-date">
                                            <i class="fa fa-calendar-o"></i>
                                            <f:format.date format="d.m.Y">{post.crdate}</f:format.date>
                                        </span>
                                        <span class="post-meta-category">
                                            <i class="fa fa-tag"></i>
                                            <f:for each="{post.categories}" as="category" iteration="loginNewsIterator">
                                                {category.name},
                                            </f:for>

                                        </span>
                                    </div>
                                    <div class="margin-bottom">
                                        <f:format.html>{post.teaser}</f:format.html>
                                    </div>
                                    <f:format.raw>{post.content}</f:format.raw>
                                </div>
                                <div class="post-navigation">
                                    <a href="{f:uri.action(action:'show', pageUid:'{settings.singlePid}', arguments:'{post:prevPost}')}"
                                        class="post-prev">
                                        <div class="post-prev-title">
                                            <span>prev</span>
                                            {prevPost.title}
                                        </div>
                                    </a>

                                    <a href="{f:uri.page(pageUid:'{settings.listPid}')}" class="post-all">
                                        <i class="icon-grid"> </i>
                                    </a>
                                    <a href="{f:uri.action(action:'show', pageUid:'{settings.singlePid}', arguments:'{post:nextPost}')}"
                                        class="post-next">
                                        <div class="post-next-title">
                                            <span>next</span>
                                            {nextPost.title}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Post single item-->
            </div>
        </div>
    </div>

</f:section>

</html>